/* Fonts */
@font-face {
    font-family: 'NotoSansKR';
    src: url("assets/fonts/NotoSansKR-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url("assets/fonts/NotoSansKR-Bold.otf");
    font-weight: 700;
}

:root {
    font-family: 'NotoSansKR', 'sans-serif';
    font-weight: 500;
}

/* 전체 wrapper */
.wrapper {
    width: 748px;
    margin: 0 auto;
    background-color: #EAE8FE;
}

/* Header */
.cont-header {
    max-width: 386px;
    margin: 0 auto 68px auto;
}

.img-logo {
    width: 100%;
}

/* Main */
/* Section.1 - 음료자판기 -> 구입 */
.cont-vm {
    display: flex;
    justify-content: space-between;
}

/* 음료 리스트 wapper */
.cont-order {
    width: 360px;
    padding: 31px 27px;
    background-color: #fff;
}

.cont-list-flex {
    margin-bottom: 20px;
}

.list-beverage-items {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

/* 음료 이미지 */
.list-beverage-items img {
    width: 36px;
    height: 65px;
}

/* 음료 리스트 */
.list-beverage {
    width: 94px;
    display: flex;
    flex-direction: column;
}

/* 음료 버튼 */
.list-beverage .btn-list-beverage {
    padding: 10px 12px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    border-radius: 10px;        
}

.btn-list-beverage:hover {
    color: gray;
    border: 3px solid #6327FE;
    border-radius: 10px;
    margin:-3px; 
}

/* 품절 처리 */
.btn-list-beverage.sold-out::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("assets/images/Sold-out.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 58px;
    background-color: rgba(0, 0, 0, 0.8);
}

.sold-out {
    pointer-events: none;
}

.txt-name {
    font-size: 9px;
    color: #333333;
    margin: 6px 0;
}

.txt-price {
    font-size: 12px;
    width: 70px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #6327FE;
    border-radius: 50px;
}

/* 음료 구매 */
.cont-order-grid {
    display: grid;
    grid-template-columns: 200px 94px;
    gap: 12px;
    grid-template-areas: 
    "cont-balance cont-balance"
    "cont-deposit cont-deposit"
    "cont-cart cont-cart"
    ;
}

/* 잔액 */
.cont-balance {
    grid-area: cont-balance;
    display: flex;
    justify-content: space-between;
}

.txt-money {
    font-size: 14px;
    height: 32px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #EAE8FE;
}

.balance {
    width: 200px;
}

.txt-money > strong::after {
    content: '원';
}

.btn-money {
    font-weight: 500;
    min-width: 94px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    border-radius: 5px; 
}

/* 버튼 hover */
.btn-money:hover {
    color: gray;
}

/* 입금액 */
.cont-deposit {
    grid-area: cont-deposit;
    display: flex;
    justify-content: space-between;
}

.cont-cart {
    grid-area: cont-cart;
    display: flex;
    justify-content: space-between;
}

.txt-deposit {
    width: 200px;
    height: 32px;
    padding: 0 6px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.txt-deposit[type="text"] {
    font-size: 13px;
}

.txt-deposit[placeholder] {
    font-size: 13px;
    color: #BDBDBD;
}

/* 음료 장바구니 -> 결제 */
.box-item {
    padding: 12px;
    overflow: auto;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.cart {
    width: 200px;
    height: 106px;
    background-color: #EAE8FE;
}

.form-cart {
    width: 100%;
}

.cont-cart {
    display: flex;
    justify-align: center;
}

.list-cart-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.list-cart-item .list-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 46px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #fff;
}

.list-item .img-list-beverage {
    width: 18px;
    margin-right: 10px;
}

.list-item .txt-amount {
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #fff;
}

/* 획득 버튼 */
.btn-buy-items {
    font-weight: 700;
    width: 94px;
    color: #fff;
    background-color: #6327FE;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    border-radius: 5px; 
}

.btn-buy-items:hover {
    color: #EAE8FE;
}

/* 스크롤바 */
.box-item::-webkit-scrollbar {
    width: 12px;
  }
  .box-item:-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  .box-item::-webkit-scrollbar-thumb {
    background: #fff;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 50px;
  }


/* Section.2 - 내 소지금, 아이템 */
.cont-my-item {
    width: 360px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #EAE8FE;
}

.cont-my-money {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.my-money {
    width: 306px;
}

.my-money > strong::after {
    content: '원';
}

.cont-get-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0 27px;
    background-color: #fff;
}

.cont-get-item strong {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

.get-item {
    width: 306px;
    height: 364px;
    margin: 12px 0;
}

.txt-total {
    font-size: 12px;
    width: 100%;
    text-align: right;
}